* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}

header {
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background-color: cadetblue;
    display: flex;
    justify-content: space-between;
    z-index: 99;
 
}

.wand {
    font-size: 2em;
    color: #fff;
    user-select: none;
}

.navigator a {
    position: relative;
    font-size: 1.1em;
    color: #fff;
    font-weight: 500;
    margin-left: 40px;
    text-decoration: none;
    transition: 0.3s;
}

.navigator a:hover {
    text-decoration: 2px underline;
    color: #fff;
    bottom: 6px;
}

.navigator .logon {
    width: 130px;
    height: 50px;
    border: 2px solid #fff;
    background: transparent;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    margin-left: 80px;
    color: #fff;
    font-size: 1.1em;
    font-weight: 500;
    transition: 0.1s;
}

.navigator .logon:hover {
    background: #fff;
    color: #000000;
}

body {

    align-items: 100vh;
    background: url('amazing-animal-beautiful-beautifull.jpg');
    background-repeat: no-repeat;
    backface-visibility: visible;
    background-attachment: fixed;
    background-size: 100% 100%;

}

.outbox {
    display: flex;
    align-items: center;
    margin: 60px 330px;
    background: transparent;
    border: 2px solid wheat;
    width: 400px;
    height: 400px;
    position: relative;
    border-radius: 20px;
    backdrop-filter: blur(126px);
    box-shadow: 0 0 60px blanchedalmond;
    justify-content: center;
    transition: transform .5s ease ,height .8s ease;
    overflow: hidden;
    transform: scale(0);
    
}
.outbox.active-popup{
    transform: scale(1);
}

.outbox.active {
    height: 520px;

}


.outbox .exit {
    position: absolute;
    top: 0;
    right: 0;
    width: 45px;
    height: 45px;
    font-size: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
    z-index: 1;
    background-color: black;
    color: #fff
}

.outbox .formbox-login {
    width: 100%;
    padding: 40px;
    transition: height 8.8s ease;
    
}

.outbox.formbox-login {

    transition: transform .18s ease;
    transform: translateX(0);
}
.outbox.active .formbox-login {
    transition: none;
    transform: translateX(-400px);
}

.outbox .formbox-register {
    position: absolute;
    transition: none;
    transform: translateX(400px);
}
.outbox.active .formbox-register { 
    transition: transform .18s ease;
    transform: translateX(0);
}

.formbox-login h2 {
    font-size: 2em;
    margin: 22px;
    text-align: center;
}

.inputbox {
    position: relative;
    width: 100%;
    height: 40px;
    border-bottom: 2px solid rgb(57, 34, 34);
    margin: 30px 0;
}

.inputbox label {
    position: absolute;
    top: 50%;
    left: 5px;
    font-size: 1em;
    font-weight: 500;
    transform: translateY(-50%);
    transition: .5s;
}

.inputbox input:focus~label,
.inputbox input:valid~label {
    top: -5px;
}

.inputbox input {
    background: transparent;
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
}

.inputbox .icon {
    position: absolute;
    right: 5px;
    font-size: 1em;
    line-height: 50px;
}

.forgotnot {
    display: flex;
    justify-content: space-between;
    position: relative;
    top: -20px;
    font-size: .9em;
    font-weight: 500;
    color: rgba(179, 144, 144, 0.969);

}

.forgotnot a {
    color: rgb(167, 156, 140);
    text-decoration: none;
}

.forgotnot a:hover {
    text-decoration: underline;
}

.btn {
    width: 100%;
    height: 40px;
    margin-bottom: 10px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    font-weight: bold;

}

.finallogin {
    color: rgba(179, 144, 144, 0.969);
    text-align: center;
    margin: 10px;
}

.finallogin a {
    text-decoration: none;
    color: rgba(146, 42, 42, 0.969);
}

.finallogin a:hover {
    text-decoration: underline;
}